/* 
====================SOURCES====================
For stripe background in body: https://stripesgenerator.com/
Images from https://unsplash.com/
Based overall styling off of https://www.onetail.org/ (recreated, not copied)
*/

/* 
=====================COLORS=====================
#31AEEF - BLUE
#1C1C1C - DARK GREY
#EAEAEA - LIGHT GREY FOR STRIPES
#F8F8F8 - LIGHTEST GREY FOR STRIPES
 */

/* ==============GLOBAL STYLING============== */

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, #eaeaea 18.75%, #f8f8f8 18.75%, #f8f8f8 50%, #eaeaea 50%, #eaeaea 68.75%, #f8f8f8 68.75%, #f8f8f8 100%);
  background-size: 11.31px 11.31px;
}

/* ===================NAV=================== */

nav {
  height: 15vh;
  width: 100%;
  margin: 0;
  background-color: #1c1c1cdd;
  position: fixed;
  top: 0;
  box-shadow: 0 5px 5px #1c1c1ca5;
  z-index: 1;
}

nav div:first-of-type {
  height: 15vh;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  z-index: 2;
  position: absolute;
}

nav div:nth-of-type(2) {
  z-index: 3;
  display: flex;
  right: 0;
  position: absolute;
  margin: 10px 10px 0 0;
}

/* ==================HEADER================== */

header img {
  margin: 15vh 0 0 0;
  height: auto;
  width: 100%;
}

/* ===================MAIN=================== */

main {
  margin: -5vh 4vw 9vh 4vw;
  height: fit-content;
  width: 80vw;
  box-shadow: 0px 5px 10px #1c1c1ca5;
}

/* ===================SELECT SECTION=================== */

h2.header {
  background-color: #1c1c1ce7;
  color: #F8F8F8;
  padding: 3vh 3vw;
  margin: 0;
}

section.select {
  display: flex;
}

div.select {
  background-color: #31acefd8;
  height: 25vh;
  width: 80vw;
  display: flex;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

form label {
  padding-bottom: 2vh;
  font-size: 20px;
}

form select {
  margin-bottom: 2vh;
  padding:.25vh 2vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border: solid #1C1C1C 1px;
  background-color: rgba(255, 255, 255, 0.872);
}

/* ===================BUTTONS=================== */

#see-matches, #next-match, button.findPetHere {
  padding: .5vh 4vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: solid #1C1C1C 1px;
  background-color: rgba(255, 255, 255, 0.872);
}

button.findPetHere {
  margin-bottom: 2vh;
}

a.findPetHere {
  text-decoration: none;
  color: #000;
}

#next-match {
  margin-bottom: 3vh;
}

#see-matches:hover, #next-match:hover, button.findPetHere:hover {
  background-color: #31AEEF;
  color: #fff;
  border: solid #fff 1px;
}

a.findPetHere:hover {
  color: #fff;
}

/* ===================PETS SECTION=================== */

section.pets {
  display: none;
  background-color: #31acefd8;
}

.pet-name {
  font-size: 35px;
}

.pet-gender {
  font-size: 20px;
}

.pet-bio {
  padding: 0 30px 0 30px;
}

/* ===================PETS/SELECT SECTIONS=================== */

section.select, section.pets, div.select {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* ==================FOOTER================== */

footer {
  height: 5vh;
  width: 100%;
  margin: 0;
  background-color: #1c1c1cdd;
  box-shadow: 0 -5px 5px #1c1c1ca5;
  position: fixed;
  bottom: 0;
}

footer section {
  height: 5vh;
  width: 100%;
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer section a {
  padding: 0;
}

svg {
  height: 3.25vh;
  width: auto;
  margin: .5vh 1vw .5vh 1vw;
  color: #fff;
}

svg:hover {
  color: #31AEEF;
}

/* ===============MEDIA QUERIES=============== */

@media (min-width: 1025px) {
  main, section.select div {
    max-width: 70vw;
  }

  header img {
    max-width: 80vw;
  }

  .pet-bio {
    padding: 0 40px 0 40px;
  }
}

@media (min-width: 1201px) {
  main, section.select div {
    max-width: 60vw;
  }

  header img {
    max-width: 70vw;
  }

  .pet-bio {
    padding: 0 50px 0 50px;
  }
}

@media (min-width: 1401px) {
  main, section.select div {
    max-width: 50vw;
  }

  header img {
    max-width: 60vw;
  }

  .pet-bio {
    padding: 0 60px 0 60px;
  }
}