/* 
==========================SOURCES==========================
For stripe background in body: https://stripesgenerator.com/
*/

/* 
COLORS
#31AEEF - BLUE
#1C1C1C - DARK GREY
#EAEAEA - LIGHT GREY FOR STRIPES
#F8F8F8 - LIGHTEST GREY FOR STRIPES
 */

/* ==========================GLOBAL STYLING========================== */

html {
  /* background-color: #246a73; */
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, #eaeaea 25%, #f8f8f8 25%, #f8f8f8 50%, #eaeaea 50%, #eaeaea 75%, #f8f8f8 75%, #f8f8f8 100%);
background-size: 22.63px 22.63px;
}

/* ==========================HEADER========================== */

header {
  background-color: #f4f5f5;
  margin: 10vh 4vw 4vh 4vw;
  padding: 1rem;
  height: fit-content;
  width: 80vw;
  box-sizing: border-box;
  border: solid #5c959c 5px;
  border-radius: 10px;
}

section .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

main {
  background-color: #f4f5f5;
  margin: 4vh 4vw;
  padding: 1rem;
  height: fit-content;
  width: 80vw;
  box-sizing: border-box;
  border: solid #5c959c 5px;
  border-radius: 10px;
}

section.select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

section.pets {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
